# ignorance is bliss

.idea
*.iml
*.swp
*.log
*.log.*
!change.log
*.db
*~
*.class
*.pyc
*.pyo
.hg
.hgignore
.project
.pydevproject
*.tar.gz
*.tar.bz2
*.tgz
*.tbz2
*.apk
*.zip
*.tar
*.wav
*.out

settings
reports
node_modules
dist
build
tmp
_build
.gradle
gen
MANIFEST
docker/tmp/*
*.egg-info
GPATH
GRTAGS
GTAGS
.python-version
.DS_Store
.#*
