{
    "name": "OrionContextBroker",
    "ep": "http://localhost:18000",
    "cse_base": "onem2m",
    "poas": [
        "http://auto:25396"
    ],
    "originator_pre": "//openmtc.org/in-cse-1",
    "ssl_certs": {
        "cert_file": "/etc/openmtc/certs/orioncontextbroker.cert.pem",
        "key_file": "/etc/openmtc/certs/orioncontextbroker.key.pem",
        "ca_certs": "/etc/openmtc/certs/ca-chain.cert.pem"
    },
    "logging": {
        "level": "INFO",
        "file": "/var/log/openmtc/orioncontextbroker.log"
    },
    "labels": ["openmtc:sensor_data"],
    "interval": 10,
    "orion_host": "http://localhost:1026",
    "orion_api": "v2",
    "accumulate_address": "http://localhost:8080"
}
